/* styles.css */
body {
    background-color: orange; /* Default background color */
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100vw;
}

h1 {
    cursor: pointer;
    color: cyan;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: color 0.3s ease; /* Smooth transition for text color change */
}

h1:hover {
    color: blue; /* Change text color on hover */
}


